<head>
    <link rel="stylesheet" href="view.css">
    <link rel="stylesheet" href="../../loader.css">
    <link rel="icon" href="../../images/logos/gadget-2.png">
    <title>View around the world</title>
    <style>
        *{
            box-sizing: border-box;
        }
        .text{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }
    </style>
</head>
<body>

    <img class="world-icon" loading="lazy" src="./assets/ICONS/world-icon.png">

    <!--default page-->
        <div class="container">

            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper active-nav-link">
                        <a href="../../index.html">Home</a>
                    </div>

                    <div class="nav-link-wrapper">
                        <a href="../../about.html">About</a>
                    </div>
                </div>
                
                <div class="bottom-side">
                    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                        <span class="sr-only"><img loading="lazy" src="../../images/arrow-down.png" style="top: -5px; height: 30px; aspect-ratio: 1; position: relative;"></span>
                    </button>
                    
                    <nav>
                        <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
                            <li class="active">
                                <a href="../../lists/list-education.html">
                                    <span aria-hidden="true"></span>Education
                                </a>
                            <li>
                                <a href="../../lists/list-gadgets.html">
                                    <span aria-hidden="true"></span>Gadgets
                                </a>
                            <li>
                                <a href="../../lists/list-games.html">
                                    <span aria-hidden="true"></span>Games
                                </a>
                        </ul>
                    </nav>
                </div>

                <div class="right-side">
                    <div class="brand">
                        <a href="https://www.linkedin.com/in/jad-elkarchi-1894181bb/">Elkarchi Jad</a>
                    </div>
                </div>
                
            </div>

    </div>

    <div class="tool-tip"></div>

    <div class="help">
        <div class="guide">
            <div class="scroll-guide">
                scroll
                <img loading="lazy" src="./assets/ICONS/scroll-guide.png" style="height: 100px; margin-left: -27px;">
            </div>

            <div class="click-guide">
                click
                <img loading="lazy" src="./assets/ICONS/click-guide.jpg" style="height: 100px; margin-left: -32px; margin-top: -14px;">
            </div>
        </div>

        <div class="swipe-guide">
            <div class="inner-swipe">
                swipe
                <img loading="lazy" src="./assets/ICONS/swipe.png" style="height: 70px; margin-left: -12px; margin-top: 8px;">
            </div> 
        </div>

        <div class="question"><button type="button" onclick="unfadeGuide()"><img loading="lazy" src="./assets/ICONS/help.png" style="height: 25px;"></button></div>
    </div>
    
    <div class="loader-wrapper">
        <span class="loader" ><span class="loader-inner"></span></span>
        <div class="loading"> Loading... </div>
    </div>

</body>

<script>

    document.querySelector('.loader-wrapper').classList.add('isActive');
    window.onload = () => {
        document.querySelector('.loader-wrapper').classList.remove('isActive');
    };
</script>
<script src="about.js"></script>
<script src="../../app.js"></script>
<script src="../../lib/gsap.js"></script>
<script src="../../lib/three.js"></script>
<script src="./data.js"></script>
<script src="./view.js" ></script>

